li {
    padding-top: 10px;
    display: list-item;
    list-style-type: disc;
}

img {
    width: 6%;
    padding-left: 10px;
    display: inline-table;
}

#seconddiv1 {
    max-height: 0%;
    transition: 1.0s;
    overflow: hidden;
    display: block
   }

#seconddiv1.divAberta {
    max-height: 100%;
    transition: 1.0s;
    background-color: rgb(190, 190, 190);
    margin-right: 25px;
   }

#seconddiv1.divAberta > #texto1 {
    display: block;
}

#texto1 {
    margin-top: 5px;
    margin-left: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: medium;
    display: none;
}
