.sobreMim {
    padding: 10px;
    color: 'white';
}

#divBio {
    display: flex; 
    justify-content: center;
    align-items: center; 
}

#imgGithub {
    width: auto; 
    border-radius: 500px; 
    margin-bottom: 90px;
}

#githubStatus {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-bottom: 30px;
}

#githubStatus img {
    width: auto;
}

@media(max-width: 500px) {
    #divBio {
        display: block;
        justify-content: center;
        align-items: center;
    }

    #imgGithub {
        width: 260px;
        border-radius: 500px; 
        margin-bottom: 90px;
    }

    .texto {
        margin-bottom: 50px;
    }

    #githubStatus {
        display: block; 
        align-items: center; 
        justify-content: center; 
        margin-bottom: 30px;
    }

    #githubStatus img {
        width: 95%;
        margin-bottom: 10px;
    }
}