.tabelaDeTecnologias {
    height: 300px;
    column-count: 2;
}

.tabelaDeTecnologias li {
    padding-top: 15px;
    display: list-item;
    list-style-type: disc;
    margin-bottom: 5px;
}

.tabelaDeTecnologias img {
    width: 5%;
    padding-left: 10px;
    display: inline;
}
