.teste {
    /* overflow: auto; */
    display: block;
}

.tabelaDeTecnologias {
    overflow: auto;
    display: block;
    height: 400px;
    column-count: 2;
    width: 70%;
}

.tabelaDeTecnologias li {
    padding-top: 15px;
    display: list-item;
    list-style-type: disc;
    margin-bottom: 5px;
}

.tabelaDeTecnologias img {
    width: 8%;
    padding-left: 10px;
    display: inline;
}
